* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #4a98f7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: #fff;
    padding: 50px 30px;
    border-radius: 10px;
    max-width: 660px;
    height: auto;

}